In [1]:
import findspark

findspark.init()

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

+-----+
|hello|
+-----+
|spark|
+-----+

In [9]:
stores = spark.read.format("csv").option("header", "true").load("data/stores.csv")

In [10]:
stores.show()

+-----+----+------+
|Store|Type|  Size|
+-----+----+------+
|    1|   A|151315|
|    2|   A|202307|
|    3|   B| 37392|
|    4|   A|205863|
|    5|   B| 34875|
|    6|   A|202505|
|    7|   B| 70713|
|    8|   A|155078|
|    9|   B|125833|
|   10|   B|126512|
|   11|   A|207499|
|   12|   B|112238|
|   13|   A|219622|
|   14|   A|200898|
|   15|   B|123737|
|   16|   B| 57197|
|   17|   B| 93188|
|   18|   B|120653|
|   19|   A|203819|
|   20|   A|203742|
+-----+----+------+
only showing top 20 rows

In [6]:
features = spark.read.format("csv").option("header", "true").load("data/features.csv")

In [7]:
features.show()

+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|Store|      Date|Temperature|Fuel_Price|MarkDown1|MarkDown2|MarkDown3|MarkDown4|MarkDown5|        CPI|Unemployment|IsHoliday|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
|    1|05/02/2010|      42.31|     2.572|       NA|       NA|       NA|       NA|       NA|211.0963582|       8.106|    FALSE|
|    1|12/02/2010|      38.51|     2.548|       NA|       NA|       NA|       NA|       NA|211.2421698|       8.106|     TRUE|
|    1|19/02/2010|      39.93|     2.514|       NA|       NA|       NA|       NA|       NA|211.2891429|       8.106|    FALSE|
|    1|26/02/2010|      46.63|     2.561|       NA|       NA|       NA|       NA|       NA|211.3196429|       8.106|    FALSE|
|    1|05/03/2010|       46.5|     2.625|       NA|       NA|       NA|       NA|       NA|211.3501429|       8.106|    FALSE|
|    1|12/03/2010|      57.79|     2.667|       NA|       NA|       NA|       NA|       NA|211.3806429|       8.106|    FALSE|
|    1|19/03/2010|      54.58|      2.72|       NA|       NA|       NA|       NA|       NA| 211.215635|       8.106|    FALSE|
|    1|26/03/2010|      51.45|     2.732|       NA|       NA|       NA|       NA|       NA|211.0180424|       8.106|    FALSE|
|    1|02/04/2010|      62.27|     2.719|       NA|       NA|       NA|       NA|       NA|210.8204499|       7.808|    FALSE|
|    1|09/04/2010|      65.86|      2.77|       NA|       NA|       NA|       NA|       NA|210.6228574|       7.808|    FALSE|
|    1|16/04/2010|      66.32|     2.808|       NA|       NA|       NA|       NA|       NA|   210.4887|       7.808|    FALSE|
|    1|23/04/2010|      64.84|     2.795|       NA|       NA|       NA|       NA|       NA|210.4391228|       7.808|    FALSE|
|    1|30/04/2010|      67.41|      2.78|       NA|       NA|       NA|       NA|       NA|210.3895456|       7.808|    FALSE|
|    1|07/05/2010|      72.55|     2.835|       NA|       NA|       NA|       NA|       NA|210.3399684|       7.808|    FALSE|
|    1|14/05/2010|      74.78|     2.854|       NA|       NA|       NA|       NA|       NA|210.3374261|       7.808|    FALSE|
|    1|21/05/2010|      76.44|     2.826|       NA|       NA|       NA|       NA|       NA|210.6170934|       7.808|    FALSE|
|    1|28/05/2010|      80.44|     2.759|       NA|       NA|       NA|       NA|       NA|210.8967606|       7.808|    FALSE|
|    1|04/06/2010|      80.69|     2.705|       NA|       NA|       NA|       NA|       NA|211.1764278|       7.808|    FALSE|
|    1|11/06/2010|      80.43|     2.668|       NA|       NA|       NA|       NA|       NA|211.4560951|       7.808|    FALSE|
|    1|18/06/2010|      84.11|     2.637|       NA|       NA|       NA|       NA|       NA|211.4537719|       7.808|    FALSE|
+-----+----------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+---------+
only showing top 20 rows

In [8]:
features.printSchema()

root
 |-- Store: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Fuel_Price: string (nullable = true)
 |-- MarkDown1: string (nullable = true)
 |-- MarkDown2: string (nullable = true)
 |-- MarkDown3: string (nullable = true)
 |-- MarkDown4: string (nullable = true)
 |-- MarkDown5: string (nullable = true)
 |-- CPI: string (nullable = true)
 |-- Unemployment: string (nullable = true)
 |-- IsHoliday: string (nullable = true)

In [11]:
sales = spark.read.format("csv").option("header", "true").load("data/sales.csv")

In [12]:
sales.show()

+-----+----+----------+------------+---------+
|Store|Dept|      Date|Weekly_Sales|IsHoliday|
+-----+----+----------+------------+---------+
|    1|   1|05/02/2010|     24924.5|    FALSE|
|    1|   1|12/02/2010|    46039.49|     TRUE|
|    1|   1|19/02/2010|    41595.55|    FALSE|
|    1|   1|26/02/2010|    19403.54|    FALSE|
|    1|   1|05/03/2010|     21827.9|    FALSE|
|    1|   1|12/03/2010|    21043.39|    FALSE|
|    1|   1|19/03/2010|    22136.64|    FALSE|
|    1|   1|26/03/2010|    26229.21|    FALSE|
|    1|   1|02/04/2010|    57258.43|    FALSE|
|    1|   1|09/04/2010|    42960.91|    FALSE|
|    1|   1|16/04/2010|    17596.96|    FALSE|
|    1|   1|23/04/2010|    16145.35|    FALSE|
|    1|   1|30/04/2010|    16555.11|    FALSE|
|    1|   1|07/05/2010|    17413.94|    FALSE|
|    1|   1|14/05/2010|    18926.74|    FALSE|
|    1|   1|21/05/2010|    14773.04|    FALSE|
|    1|   1|28/05/2010|    15580.43|    FALSE|
|    1|   1|04/06/2010|    17558.09|    FALSE|
|    1|   1|11/06/2010|    16637.62|    FALSE|
|    1|   1|18/06/2010|    16216.27|    FALSE|
+-----+----+----------+------------+---------+
only showing top 20 rows

In [13]:
sales.printSchema()

root
 |-- Store: string (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Weekly_Sales: string (nullable = true)
 |-- IsHoliday: string (nullable = true)